<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>匿名掲示板</h1>
</div>
<form th:action="@{/}" method="get">
    <label>開始日</label>
    <input type="date" name="startDate" />

    <label>終了日</label>
    <input type="date" name="endDate" />

    <button type="submit">検索</button>
</form>
<div class="main-contents">
    <a href="/new">
        <button class="new-button" type="button">新規投稿</button>
    </a>
    <div class="message-icon" th:each="content : ${contents}">
        <div>
            ID : <span th:text="${content.id}"/>
        </div>
        <div class="text">
            投稿 : <span th:text="${content.content}"/>
        </div>
        <div class="edit-button">
            <a th:href="@{/edit/{id}(id=${content.id})}">
                <input type="button" value="編集">
            </a>
        </div>
        <div class="delete-button">
            <form th:method="delete" th:action="@{/delete/{id}(id=${content.id})}">
                <button type="submit" >投稿削除</button>
            </form>
        </div>
        <div class="message-icon" th:each="comment : ${comments}" th:if="${content.id == comment.message_id}">
            <div class="text">
                返信 : <span th:text="${comment.text}"/>
            </div>
            <div class="edit-button">
                <a th:href="@{/comment/edit/{id}(id=${comment.id})}">
                    <input type="button" value="編集">
                </a>
            </div>
            <div class="delete-button">
                <form th:method="delete" th:action="@{/comment/delete/{id}(id=${comment.id})}">
                    <button type="submit">コメント削除</button>
                </form>
            </div>
        </div>
        <div class="comment-contents">
            <form method="post" th:action="@{/comment/{id}(id=${content.id})}" th:object="${commentForm}">
                <div class="form-area">
                    <label>投稿内容</label>
                    <div th:if="${#fields.hasErrors('text')}" th:errors="*{text}" style="color:red"></div>
                    <textarea class="tweet-box" size="20" th:field="*{text}" maxlength="200" /></textarea><br/>
                    <input type="submit" value="返信" />
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
